parameters:
    level: 10
    paths:
        - src
        - heartphrame-manifest.php
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
    scanFiles:
        - phpstan-stubs/optional-audit-integration.stub
